#videoWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#videoWrapper video {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

#videoWrapper img.play_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: auto;
  cursor: pointer;
  z-index: 2;
}

#skipVideo {
  position: absolute;
  padding: 0.5%;
  top: 1.5%;
  right: 0.5%;
  padding: 0.5%;
  height: auto;
  width: auto;
  max-height: 25%;
  max-width: 25%;
  color: white;
  background-color: black;
  border: 1px solid white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: clamp(11px, 2.5vmin, 18px);
  line-height: 1.1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
}

#skipVideo:hover {
  opacity: 1;
}